*{
    margin: 0px;
}
.nav-top{
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
    overflow;
}
.scroll-top{
    position: fixed;
    top: 70px;
    background-color: white;
    z-index: 999;
}
.nav-bar{
    height: 80px;
    position: relative;
    border-bottom: 2px solid lightgray ;
    /* background-color: white; */
   
}
.search-bar{
    padding: 10px;
    border-radius: 25px;
    border: 2px solid lightgray;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 600px;
    top: 17px;
}
.logo-img{
    top: 18px;
    position: absolute;
    left: 90px;
    width:120px;
    height: 50px;

}
.search-bar-img{
    height: 22px;
    width: 22px;

}
.nav-bar-home{
    width: fit-content;
    padding: 14px;
    border-radius: 20px;
    position: absolute;
    top: 14px;
    left: 1100px;
}
.web-logo-img{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 1250px;
    top: 28px;
}
.contact-logo{
    position: absolute;
    left: 1300px;
    top:16px ;
    border: 2px solid lightgray;
    border-radius: 25px;
    padding: 4px;
}
.contact-logo-img{
height: 30px;
width: 30px;
}
.equal-logo-img{
    height: 20px;
    width: 20px;
    margin: 4px;
}
.scroll-bar{
    margin-top: 35px;
    margin-left: 70px;
    display: flex;
    gap: 30px;
    text-align: center;

}
.country-side-img{
    width: 50px;
    height: 50px;
}
.right-arrow-img{
    width: 20px;
    border-radius: 100%;
    border: 2px solid lightgray;
    padding: 5px;
    display: flex;
}
.filter{
    border: 2px solid lightgray;
    border-radius: 20px;
    display: flex;
    height: 50px;
    width: 100px;
    align-items: center; 
    padding:5px 5px; 
}
.filter-logo{
    width: 20px;
    margin-right: 15px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
   .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .display{
    display: flex;
    gap: 70px;
    border: 2px solid lightgray;
    border-radius:10px ;
    padding: 20px;


    margin: 50px auto;
    width: 600px;
  } 
  .card{
    width: 280px;
    height: 300px;
    /* padding: 10px; */
    /* border: 1px solid lightgray; */
    border-radius: 14px;
     margin: 10px;
     position: relative;
}
.heart-img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 220px;

}
.card-img{
    width: 100%;
    border-radius: 14px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    padding-bottom: 10px;
}
.star-img{
    height: 15px;
    width: 15px;
    position: absolute;
    left: 200px;
    bottom: 81px;
}
.rating{
    position: absolute;
    left: 225px;
    bottom: 80px;
}
.parent{
    display:flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.footer{
    width:100%;
    height: 27px;
    position:fixed;
    bottom: 0;
    border: 2px solid lightgray;
    display: flex;
    gap: 500px;
    padding-top: 2px;
    background-color: white;

}
.web-logo-footer-img{
width: 20px;
height: 20px;
}
.web-logo-footer{
    display: flex;
    gap: 30px;
}
.footer-right{
    display: flex;
    gap: 30px;
}
.footer-text{
    margin-left: 120px;
}
.footer-right-text{
    font-weight: bold;
}